* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border-bottom: solid 5px #7d97ad;
}
.logo {
    height: 9%;
    width: 9%;
}
.title {
    text-align: end;
    color: #2d3c49;
}
.name {
    font-weight: 100;
    font-size: 4em;
}
.position {
    font-weight: 300;
    font-size: 2em;    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo {
        height: 15%;
        width: 15%;
    }
    .name {
        font-size: 2em;
    }
    .position {
        font-size: 1.3em;   
    }
}
#picture {
    margin-top: 50px;
    margin-bottom: 50px;
}
.featured-work {
    margin-bottom: 50px;
}
.featured-work h2 {
    color: #7d97ad;
    margin-left: 30px;
}
.works {
    display: flex;
    justify-content: space-around;
    /* align-content: stretch; */
    flex-wrap: wrap;
}
.description {
    margin-top: 10px;
}
.text {  
    text-align: center;
    color: #2d3c49;
}
.item-img {
    display: block;
    margin: auto;
    height: 200px;
}
.item-name {
    font-size: 2em;
    font-weight: 400;
}
.item-link {
    font-size: 1.1em;
    font-weight: 200;
    display: block;
}

